<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <title>Edit</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="edit" >
<form   th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="firstName">First Name: </label>
    <input class="edit__input" type="text" th:field="*{firstName}" id="firstName">
    <br>
    <label for="lastName">Last Name: </label>
    <input class="edit__input" type="text" th:field="*{lastName}" id="lastName">
    <br>
    <label for="phone">Phone: </label>
    <input class="edit__input" type="text" th:field="*{phone}" id="phone">
    <br>
    <label for="email">Email: </label>
    <input class="edit__input" type="text" th:field="*{email}" id="email">
    <br/>
    <input class="edit-del__btn" type="submit" value="Update"/>
</form>
<form class="edit-pr" th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input class="edit-del__btn edit-pa" type="submit" value="Delete">
</form>
</div>
</body>
</html>