<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
   <div class="flex clients__search">
        <form class="clients__form" th:method="GET" th:action="@{/people/search}">
            <input type="text" th:name="phone" placeholder="Enter phone number">
            <input type="submit" value="search">
        </form>

        <a href="/people/new" class="button">Add client</a>
   </div>
   <h1 class="clients__btn">Clients</h1>
        
<table class="clients-info">
    <thead>
    <tr class="clients-info__tables">
        <th th:text="id">id</th>
        <th th:text="firstname">firstName</th>
        <th th:text="lastname">lastName</th>
        <th th:text="phone">phone</th>
        <th th:text="email">email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${people.empty}">
        <td colspan="6" >No people available</td>
    </tr>
    <tr th:each="person : ${people}">
        <td><span th:text="${person.getId}">id</span></td>
        <td><span th:text="${person.getFirstName()}">firstName</span></td>
        <td ><span th:text="${person.getLastName()}">lastName</span></td>
        <td><span th:text="${person.getPhone()}">phone</span></td>
        <td><span th:text="${person.getEmail()}">email</span></td>
        <td><span><a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>