<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>

<a href="/people/new">Create new person</a>
<table>
    <thead>
    <tr>
        <th th:text="id">id</th>
        <th th:text="Имя">firstName</th>
        <th th:text="Фамилия">lastName</th>
        <th th:text="Должность">position</th>
        <th th:text="Почта">email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${people.empty}">
        <td colspan="5" >No people available</td>
    </tr>
    <tr th:each="person : ${people}">
        <td><sp th:text="${person.getId}">id</sp></td>
        <td th:text="${person.getFirstName()}">firstName</td>
        <td th:text="${person.getLastName()}">lastName</td>
        <td th:text="${person.getPosition()}">position</td>
        <td th:text="${person.getEmail()}">email</td>
        <td><a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>