<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
</head>
<body>
<p th:text="${person.getId()}">VALUE</p>
<p th:text="${person.getFirstName()}">VALUE</p>
<p th:text="${person.getLastName()}">VALUE</p>
<p th:text="${person.getPhone()}">VALUE</p>
<p th:text="${person.getEmail()}">VALUE</p>


<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>